.pagination-container {
  height: 100px;
  width: 100%;
  background-color: #252625;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-btn-container {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-no-btn {
  background-color: transparent;
  height: 60px;
  width: 60px;
  border: 2px solid #f2f2f0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #f2f2f0;
  font-size: 20px;
}

.page-no-text {
  color: #f2f2f0;
}
